form{
    height: 100px;
    width: 270px;
    position: fixed;
    left: 150px;
    top: 200px;
 
}
div{
    border: 1px solid  #ffffff10;
   padding-left: 10px;
   padding-top: 10px;
   padding-right: 10px;
   border-radius: 15px;
   color: white;
   filter:  rgb(44, 12, 12)(5px);
    background-color: #ffffff10;
}
body{
    background-image: url("gyn_background.jpg");
    background-size: cover;
}
a{
    color: #baf36f;
}